{
  "extends": [
    "plugin:prettier/recommended",
    "@apptension/eslint-config-react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "redux-saga/no-unhandled-errors": 0,
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "import/newline-after-import": ["error", { "count": 1 }],
    "prettier/prettier": "error",
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "jsx": "never"
    }]
  },
  "settings": {
    "import/core-modules": [
      "local-env-config",
      "env-config",
      "report-error",
      "json-server",
      "nock",
      "inquirer-directory",
      "utils/testUtils"
    ]
  }
}
